:root {

    --main-bg-clr: rgb(15, 18, 23);
    --main-off-wht: rgb(235, 240, 230);
    --mainFont: ;
}

/* GENERALIZED  */

body {
    background-color: var(--main-bg-clr);
    color: var(--main-off-wht);
}


/* CLASSES  */

.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.smlThumbNail {
    max-width: 4rem;
    max-height: 4rem;
}

/* IDs  */
#titleEl {
    font-size: 4rem;
}

#displaySect p {
    font-size: 1.5rem;
}


/* ACCESSIBILITY  */
@media (max-width: 690px) {

}

@media (max-width: 500px) {

}
