:root {

    --main-bg-clr: rgb(15, 18, 23);
    --main-off-wht: rgb(235, 240, 230);
    --mainFont: ;
}

/* GENERALIZED  */

body {
    background-color: var(--main-bg-clr);
    color: var(--main-off-wht);
}


/* CLASSES  */

.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.smlThumbNail {
    max-width: 4rem;
    max-height: 4rem;
}

/* IDs  */
#titleEl {
    font-size: 4rem;
}

#displaySect p {
    font-size: 1.5rem;
    margin: .5rem;
}

/* ICON LIBRARY */

.icon01d {
    background: url('../images/weatherICONS/01d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon01n {
    background: url('../images/weatherICONS/01n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon02d {
    background: url('../images/weatherICONS/02d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon02n {
    background: url('../images/weatherICONS/02n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon03d {
    background: url('../images/weatherICONS/03d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon03n {
    background: url('../images/weatherICONS/03n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon04d {
    background: url('../images/weatherICONS/0dd.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon04n {
    background: url('../images/weatherICONS/04n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon09d {
    background: url('../images/weatherICONS/09d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon09n {
    background: url('../images/weatherICONS/09n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon10d {
    background: url('../images/weatherICONS/10d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon10n {
    background: url('../images/weatherICONS/10n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon11d {
    background: url('../images/weatherICONS/11d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon11n {
    background: url('../images/weatherICONS/11n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon13d {
    background: url('../images/weatherICONS/13d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon13n {
    background: url('../images/weatherICONS/13n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon50d {
    background: url('../images/weatherICONS/50d.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

.icon50n {
    background: url('../images/weatherICONS/50n.png') no-repeat center;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
}

/* ACCESSIBILITY  */
@media (max-width: 1400px) {
    #displaySect p {
        font-size: 1rem;
    }
}

@media (max-width: 690px) {

}

@media (max-width: 500px) {

}

