:root {

    --main-bg-clr: rgb(15, 18, 23);
    --main-off-wht: rgb(235, 240, 230);
    --mainFont: ;
}

/* GENERALIZED  */

body {
    background-color: var(--main-bg-clr);
    color: var(--main-off-wht);
}

/* CLASSES  */

/* IDs  */

/* ACCESSIBILITY  */
@media (max-width: 690px) {

}

@media (max-width: 500px) {

}
